{% block page_quick_add_autocomplete %}

<div class="quick-add-autocomplete-container bg-light">
    {% set stackable = config('TorqShopwareCommon.config.quickAddStackableEnabled') %}
    {% set advancedSearch = config('TorqShopwareCommon.config.quickAddAdvancedSearchEnabled') %}
    {% for product in products %}
        {% set lineItemId = stackable ? product.id : randomUuid() %}

        {% block page_quick_add_autocomplete_form %}
        <form id="productDetailPageBuyProductForm" action="{{path('frontend.checkout.line-item.add')}}" method="post">

            {% block page_quick_add_autocomplete_form_hidden_fields %}
            <input type="hidden" name="lineItems[{{ lineItemId }}][quantity]" value="1" aria-label="Quantity">
            <input type="hidden" name="redirectTo" value="frontend.checkout.cart.page">
            <input type="hidden" name="redirectParameters" data-redirect-parameters="true" value="{"productId":"{{ lineItemId }}"}" disabled="">
            <input type="hidden" name="lineItems[{{ lineItemId }}][id]" value="{{ lineItemId }}">
            <input type="hidden" name="lineItems[{{ lineItemId }}][type]" value="product">
            <input type="hidden" name="lineItems[{{ lineItemId }}][referencedId]" value="{{product.id}}">
            <input type="hidden" name="lineItems[{{ lineItemId }}][stackable]" value="{{ stackable ? 1 : 0 }}">
            <input type="hidden" name="lineItems[{{ lineItemId }}][removable]" value="1">
            <input type="hidden" name="product-name" value="{{product.translated.name}}">
            {% endblock %}

            {% block page_quick_add_autocomplete_form_content %}
                {% if advancedSearch %}                   
                    <div class="row">
                        <div class="col-2">
                            {% if product.cover.media.url %}
                                <img src="{{ product.cover.media.url }}" class="img-fluid" />
                            {% endif %}
                        </div>
                        <div class="col-8">
                            <div>{{ product.translated.name }}</div>
                            <div>{{ product.calculatedPrice.unitPrice|currency }}</div>
                            <div>{{ product.productNumber }}</div>
                        </div>
                        <div class="col-2">
                            <button class="btn text-left btn-quick-add-autocomplete" type="submit" title="Add to Cart" aria-label="Add to Cart">
                                Add to Cart
                            </button>
                        </div>
                    </div>
                {% else %}
                    <button class="btn w-100 text-left btn-quick-add-autocomplete" type="submit" title="Add to Cart" aria-label="Add to Cart">
                        {{product.productNumber}}
                    </button>
                {% endif %}
            {% endblock %}
        </form>
        {% endblock %}
    {% endfor %}
</div>
{% endblock %}